@use '@style/variables.scss' as *;

.cancel-button {
  border-color: $red;
  background-color: $red;
  color: $primary-color;
  font-weight: bold;
  padding: 10px;
  margin-left: 2cqh;
}

.buttons-edit {
  margin-top: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
