@use '@style/variables.scss' as *;

.edit-button {
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: $primary-color;
  margin-bottom: 2rem;
}
