@use '@style/variables.scss' as *;

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: $secondary-color;
  background-color: $secondary-color;
  color: $primary-color;
}

.input-remember {
  display: flex;
  margin-top: 1rem;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-error {
  margin-top: 8px;
  color: rgb(239 68 68);
  font-size: 14px;
  text-align: left;
}

.submit-error {
  margin-top: 8px;
  color: rgb(239 68 68);
  font-size: 14px;
  text-align: center;
}
